In [1]:
import numpy as np
import pandas as pd
import gc
import time
from contextlib import contextmanager
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
path = '../home_credit_data'
@contextmanager
def timer(title):
    t0 = time.time()
    yield
    print("{} - done in {:.0f}s".format(title, time.time() - t0))
from memory_profiler import profile

In [2]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import LabelBinarizer, LabelEncoder, StandardScaler, RobustScaler
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from missingpy import KNNImputer

## 1. Retrieving the Data

In [4]:
import os 
print(os.listdir("../home_credit_data/"))

['credit_card_balance.csv', 'POS_CASH_balance.csv', 'sample_submission.csv', 'application_train.csv', 'application_test.csv', 'bureau_balance.csv', 'installments_payments.csv', 'HomeCredit_columns_description.csv', 'bureau.csv', 'Home_Credit_EDA.ipynb', 'previous_application.csv']

In [5]:
path = '../home_credit_data/'

In [6]:
debug = False 
num_rows = 10000 if debug else None

In [15]:
# One-hot encoding for categorical columns with get_dummies
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

### 1.1 Preprocessing application train and test data

In [7]:
df = pd.read_csv(path+'/application_train.csv', nrows = num_rows)
test_df = pd.read_csv(path+'/application_test.csv', nrows = num_rows)
print("Train sampes: {}, test samples: {}".format(len(df), len(test_df)))
df = df.append(test_df).reset_index()

Train sampes: 307511, test samples: 48744

In [8]:
# Remove 4 applications with XNA CODE_GENDER (train set)
df = df[df['CODE_GENDER'] != 'XNA']

In [11]:
# Categorical features with Binary encode (0 or 1; two categories)
for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
    df[bin_feature], uniques = pd.factorize(df[bin_feature])

In [16]:
# Categorical features with One-Hot encode 
df, cat_cols = one_hot_encoder(df, nan_as_category = False)

In [17]:
# NaN values for DAYS_EMPLOYED: 3565.243 -> nan
df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)

In [18]:
# Some simple new features (percentages)
df['DAYS_EMPLOYED_PERC'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
df['INCOME_CREDIT_PERC'] = df['AMT_INCOME_TOTAL'] / df['AMT_CREDIT']
df['INCOME_PER_PERSON'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']
df['ANNUITY_INCOME_PERC'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']
df['PAYMENT_RATE'] = df['AMT_ANNUITY'] / df['AMT_CREDIT']

In [19]:
del test_df

In [20]:
gc.collect()

2087

### 1.2 Preprocessing bureau and balance data

In [38]:
nan_as_category = True
bureau = pd.read_csv(path+'/bureau.csv', nrows = num_rows)
bb = pd.read_csv(path+'/bureau_balance.csv', nrows = num_rows)
bb, bb_cat = one_hot_encoder(bb, nan_as_category)
bureau, bureau_cat = one_hot_encoder(bureau, nan_as_category)

In [39]:
# Bureau balance: Perform aggregation and merge with bureau.csv
bb_aggregations = {'MONTHS_BALANCE': ['min', 'max', 'size']}

In [40]:
bb_aggregations

{'MONTHS_BALANCE': ['min', 'max', 'size']}

In [41]:
for col in bb_cat:
    bb_aggregations[col] = ['mean']

In [42]:
bb_agg = bb.groupby('SK_ID_BUREAU').agg(bb_aggregations)

In [43]:
bb_agg

             MONTHS_BALANCE           STATUS_0  STATUS_1 STATUS_2 STATUS_3  \
                        min max size      mean      mean     mean     mean
SK_ID_BUREAU
5001709                 -96   0   97  0.000000  0.000000      0.0      0.0
5001710                 -82   0   83  0.060241  0.000000      0.0      0.0
5001711                  -3   0    4  0.750000  0.000000      0.0      0.0
5001712                 -18   0   19  0.526316  0.000000      0.0      0.0
5001713                 -21   0   22  0.000000  0.000000      0.0      0.0
5001714                 -14   0   15  0.000000  0.000000      0.0      0.0
5001715                 -59   0   60  0.000000  0.000000      0.0      0.0
5001716                 -85   0   86  0.313953  0.000000      0.0      0.0
5001717                 -21   0   22  0.772727  0.000000      0.0      0.0
5001718                 -38   0   39  0.615385  0.051282      0.0      0.0
5001719                 -42   0   43  0.046512  0.000000      0.0      0.0
5001720                 -35   0   36  0.805556  0.194444      0.0      0.0
5001721                 -84   0   85  0.152941  0.000000      0.0      0.0
5001722                 -85   0   86  0.313953  0.232558      0.0      0.0
5001723                 -30   0   31  0.258065  0.000000      0.0      0.0
5001724                 -30   0   31  0.000000  0.000000      0.0      0.0
5001725                  -7   0    8  0.875000  0.000000      0.0      0.0
5001726                 -38   0   39  0.153846  0.000000      0.0      0.0
5001727                 -94   0   95  0.242105  0.000000      0.0      0.0
5001728                   0   0    1  1.000000  0.000000      0.0      0.0
5001729                  -6   0    7  0.857143  0.000000      0.0      0.0
5001730                 -60   0   61  0.081967  0.000000      0.0      0.0
5001731                 -10   0   11  0.000000  0.000000      0.0      0.0
5001732                 -35   0   36  0.000000  0.000000      0.0      0.0
5001733                 -10   0   11  0.000000  0.000000      0.0      0.0
5001734                  -2   0    3  1.000000  0.000000      0.0      0.0
5001735                 -23   0   24  0.041667  0.000000      0.0      0.0
5001736                 -23   0   24  0.166667  0.000000      0.0      0.0
5001737                 -21   0   22  0.545455  0.000000      0.0      0.0
5001738                 -43   0   44  0.272727  0.000000      0.0      0.0
...                     ...  ..  ...       ...       ...      ...      ...
6842859                 -35   0   36  0.166667  0.000000      0.0      0.0
6842860                 -35   0   36  0.805556  0.000000      0.0      0.0
6842861                 -35   0   36  0.638889  0.000000      0.0      0.0
6842862                 -68   0   69  0.246377  0.000000      0.0      0.0
6842863                 -78   0   79  0.012658  0.000000      0.0      0.0
6842864                 -34   0   35  0.457143  0.000000      0.0      0.0
6842865                 -18   0   19  1.000000  0.000000      0.0      0.0
6842866                  -4   0    5  1.000000  0.000000      0.0      0.0
6842867                 -14   0   15  1.000000  0.000000      0.0      0.0
6842868                 -55   0   56  0.071429  0.000000      0.0      0.0
6842869                 -26   0   27  0.074074  0.000000      0.0      0.0
6842870                 -35   0   36  0.111111  0.000000      0.0      0.0
6842871                 -18   0   19  0.631579  0.000000      0.0      0.0
6842872                 -87   0   88  0.079545  0.000000      0.0      0.0
6842873                 -55   0   56  0.071429  0.000000      0.0      0.0
6842874                 -89   0   90  0.088889  0.011111      0.0      0.0
6842875                 -76   0   77  0.311688  0.000000      0.0      0.0
6842876                 -25   0   26  0.038462  0.000000      0.0      0.0
6842877                 -40   0   41  0.975610  0.000000      0.0      0.0
6842878                 -29   0   30  0.166667  0.000000      0.0      0.0
6842879                 -38   0   39  0.153846  0.000000      0.0      0.0
6842880                 -57   0   58  0.120690  0.034483      0.0      0.0
6842881                 -31   0   32  0.625000  0.000000      0.0      0.0
6842882                  -7   0    8  0.500000  0.000000      0.0      0.0
6842883                 -36   0   37  0.027027  0.000000      0.0      0.0
6842884                 -47   0   48  0.187500  0.000000      0.0      0.0
6842885                 -23   0   24  0.500000  0.000000      0.0      0.0
6842886                 -32   0   33  0.242424  0.000000      0.0      0.0
6842887                 -36   0   37  0.162162  0.000000      0.0      0.0
6842888                 -61   0   62  0.145161  0.016129      0.0      0.0

             STATUS_4 STATUS_5  STATUS_C  STATUS_X STATUS_nan
                 mean     mean      mean      mean       mean
SK_ID_BUREAU
5001709           0.0      0.0  0.886598  0.113402          0
5001710           0.0      0.0  0.578313  0.361446          0
5001711           0.0      0.0  0.000000  0.250000          0
5001712           0.0      0.0  0.473684  0.000000          0
5001713           0.0      0.0  0.000000  1.000000          0
5001714           0.0      0.0  0.000000  1.000000          0
5001715           0.0      0.0  0.000000  1.000000          0
5001716           0.0      0.0  0.453488  0.232558          0
5001717           0.0      0.0  0.227273  0.000000          0
5001718           0.0      0.0  0.076923  0.256410          0
5001719           0.0      0.0  0.953488  0.000000          0
5001720           0.0      0.0  0.000000  0.000000          0
5001721           0.0      0.0  0.847059  0.000000          0
5001722           0.0      0.0  0.453488  0.000000          0
5001723           0.0      0.0  0.000000  0.741935          0
5001724           0.0      0.0  0.709677  0.290323          0
5001725           0.0      0.0  0.000000  0.125000          0
5001726           0.0      0.0  0.846154  0.000000          0
5001727           0.0      0.0  0.757895  0.000000          0
5001728           0.0      0.0  0.000000  0.000000          0
5001729           0.0      0.0  0.142857  0.000000          0
5001730           0.0      0.0  0.918033  0.000000          0
5001731           0.0      0.0  0.000000  1.000000          0
5001732           0.0      0.0  0.000000  1.000000          0
5001733           0.0      0.0  0.000000  1.000000          0
5001734           0.0      0.0  0.000000  0.000000          0
5001735           0.0      0.0  0.958333  0.000000          0
5001736           0.0      0.0  0.833333  0.000000          0
5001737           0.0      0.0  0.454545  0.000000          0
5001738           0.0      0.0  0.727273  0.000000          0
...               ...      ...       ...       ...        ...
6842859           0.0      0.0  0.833333  0.000000          0
6842860           0.0      0.0  0.000000  0.194444          0
6842861           0.0      0.0  0.055556  0.305556          0
6842862           0.0      0.0  0.217391  0.536232          0
6842863           0.0      0.0  0.556962  0.430380          0
6842864           0.0      0.0  0.000000  0.542857          0
6842865           0.0      0.0  0.000000  0.000000          0
6842866           0.0      0.0  0.000000  0.000000          0
6842867           0.0      0.0  0.000000  0.000000          0
6842868           0.0      0.0  0.928571  0.000000          0
6842869           0.0      0.0  0.925926  0.000000          0
6842870           0.0      0.0  0.833333  0.055556          0
6842871           0.0      0.0  0.000000  0.368421          0
6842872           0.0      0.0  0.886364  0.034091          0
6842873           0.0      0.0  0.928571  0.000000          0
6842874           0.0      0.0  0.888889  0.011111          0
6842875           0.0      0.0  0.675325  0.012987          0
6842876           0.0      0.0  0.000000  0.961538          0
6842877           0.0      0.0  0.000000  0.024390          0
6842878           0.0      0.0  0.766667  0.066667          0
6842879           0.0      0.0  0.512821  0.333333          0
6842880           0.0      0.0  0.620690  0.224138          0
6842881           0.0      0.0  0.000000  0.375000          0
6842882           0.0      0.0  0.000000  0.500000          0
6842883           0.0      0.0  0.945946  0.027027          0
6842884           0.0      0.0  0.416667  0.395833          0
6842885           0.0      0.5  0.000000  0.000000          0
6842886           0.0      0.0  0.757576  0.000000          0
6842887           0.0      0.0  0.837838  0.000000          0
6842888           0.0      0.0  0.838710  0.000000          0

[817395 rows x 12 columns]

In [44]:
bb_agg.columns = pd.Index([e[0] + "_" + e[1].upper() for e in bb_agg.columns.tolist()])
bureau = bureau.join(bb_agg, how='left', on='SK_ID_BUREAU')
bureau.drop(['SK_ID_BUREAU'], axis=1, inplace= True)
del bb, bb_agg
gc.collect()

252

In [45]:
# Bureau and bureau_balance numeric features 
num_aggregations = {
    'DAYS_CREDIT': ['min', 'max', 'mean', 'var'],
    'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],
    'DAYS_CREDIT_UPDATE': ['mean'],
    'CREDIT_DAY_OVERDUE': ['max', 'mean'],
    'AMT_CREDIT_MAX_OVERDUE': ['mean'],
    'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],
    'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],
    'AMT_CREDIT_SUM_OVERDUE': ['mean'],
    'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
    'AMT_ANNUITY': ['max', 'mean'],
    'CNT_CREDIT_PROLONG': ['sum'],
    'MONTHS_BALANCE_MIN': ['min'],
    'MONTHS_BALANCE_MAX': ['max'],
    'MONTHS_BALANCE_SIZE': ['mean', 'sum']
}

In [46]:
# Bureau and bureau_balance categorical features
cat_aggregations = {}
for cat in bureau_cat: cat_aggregations[cat] = ['mean']
for cat in bb_cat: cat_aggregations[cat + "_MEAN"] = ['mean']

In [47]:
bureau_agg = bureau.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
bureau_agg.columns = pd.Index(['BURO_' + e[0] + "_" + e[1].upper() for e in bureau_agg.columns.tolist()])

In [48]:
# Bureau: Active credits - using only numerical aggregations
active = bureau[bureau['CREDIT_ACTIVE_Active'] == 1]
active_agg = active.groupby('SK_ID_CURR').agg(num_aggregations)
active_agg.columns = pd.Index(['ACTIVE_' + e[0] + "_" + e[1].upper() for e in active_agg.columns.tolist()])
bureau_agg = bureau_agg.join(active_agg, how='left', on='SK_ID_CURR')
del active, active_agg
gc.collect()

63

In [49]:
# Bureau: Closed credits - using only numerical aggregations
closed = bureau[bureau['CREDIT_ACTIVE_Closed'] == 1]
closed_agg = closed.groupby('SK_ID_CURR').agg(num_aggregations)
closed_agg.columns = pd.Index(['CLOSED_' + e[0] + "_" + e[1].upper() for e in closed_agg.columns.tolist()])
bureau_agg = bureau_agg.join(closed_agg, how='left', on='SK_ID_CURR')
del closed, closed_agg, bureau
gc.collect()

106

Combine bureau_agg with training and test data.

In [50]:
df= df.join(bureau_agg, how ='left', on='SK_ID_CURR')

In [52]:
del bureau_agg
gc.collect()

22

In [53]:
df.shape

(356251, 364)

### 1.3 Preprocessing previous applications data

In [54]:
prev = pd.read_csv(path+'/previous_application.csv', nrows = num_rows)
prev, cat_cols = one_hot_encoder(prev, nan_as_category= True)

In [55]:
# Days 365.243 values -> nan
prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)

In [56]:
# Add feature: value ask / value received percentage
prev['APP_CREDIT_PERC'] = prev['AMT_APPLICATION'] / prev['AMT_CREDIT']

In [57]:
# Previous applications numeric features
num_aggregations = {
    'AMT_ANNUITY': ['min', 'max', 'mean'],
    'AMT_APPLICATION': ['min', 'max', 'mean'],
    'AMT_CREDIT': ['min', 'max', 'mean'],
    'APP_CREDIT_PERC': ['min', 'max', 'mean', 'var'],
    'AMT_DOWN_PAYMENT': ['min', 'max', 'mean'],
    'AMT_GOODS_PRICE': ['min', 'max', 'mean'],
    'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
    'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
    'DAYS_DECISION': ['min', 'max', 'mean'],
    'CNT_PAYMENT': ['mean', 'sum'],
}

In [58]:
# Previous applications categorical features
cat_aggregations = {}
for cat in cat_cols:
    cat_aggregations[cat] = ['mean']

In [59]:
prev_agg = prev.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])
# Previous Applications: Approved Applications - only numerical features
approved = prev[prev['NAME_CONTRACT_STATUS_Approved'] == 1]
approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)
approved_agg.columns = pd.Index(['APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])
prev_agg = prev_agg.join(approved_agg, how='left', on='SK_ID_CURR')
# Previous Applications: Refused Applications - only numerical features
refused = prev[prev['NAME_CONTRACT_STATUS_Refused'] == 1]
refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
refused_agg.columns = pd.Index(['REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
prev_agg = prev_agg.join(refused_agg, how='left', on='SK_ID_CURR')

In [60]:
del refused, refused_agg, approved, approved_agg, prev
gc.collect()

85

In [61]:
print("Previous applications df shape:", prev_agg.shape)
df = df.join(prev_agg, how='left', on='SK_ID_CURR')

Previous applications df shape: (338857, 249)

In [62]:
del prev_agg
gc.collect()

14

In [63]:
print('Traing and test df shape:',df.shape)

Traing and test df shape: (356251, 613)

### 1.4 Preprocessing POS_CASH_balance data

In [64]:
pos = pd.read_csv(path+'/POS_CASH_balance.csv', nrows = num_rows)
pos, cat_cols = one_hot_encoder(pos, nan_as_category= True)
# Features
aggregations = {
    'MONTHS_BALANCE': ['max', 'mean', 'size'],
    'SK_DPD': ['max', 'mean'],
    'SK_DPD_DEF': ['max', 'mean']
}
for cat in cat_cols:
    aggregations[cat] = ['mean']

pos_agg = pos.groupby('SK_ID_CURR').agg(aggregations)
pos_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()])
# Count pos cash accounts
pos_agg['POS_COUNT'] = pos.groupby('SK_ID_CURR').size()

In [65]:
del pos 
gc.collect()

147

In [67]:
print("Pos-cash balance df shape:", pos_agg.shape)
df = df.join(pos_agg, how='left', on='SK_ID_CURR')

Pos-cash balance df shape: (337252, 18)

In [68]:
del pos_agg
gc.collect()

15

In [69]:
print('Traing and test df shape:',df.shape)

Traing and test df shape: (356251, 631)

### 1.5 Preprocessing Installments Payments

In [70]:
ins = pd.read_csv(path+'/installments_payments.csv', nrows = num_rows)
ins, cat_cols = one_hot_encoder(ins, nan_as_category= True)
# Percentage and difference paid in each installment (amount paid and installment value)
ins['PAYMENT_PERC'] = ins['AMT_PAYMENT'] / ins['AMT_INSTALMENT']
ins['PAYMENT_DIFF'] = ins['AMT_INSTALMENT'] - ins['AMT_PAYMENT']
# Days past due and days before due (no negative values)
ins['DPD'] = ins['DAYS_ENTRY_PAYMENT'] - ins['DAYS_INSTALMENT']
ins['DBD'] = ins['DAYS_INSTALMENT'] - ins['DAYS_ENTRY_PAYMENT']
ins['DPD'] = ins['DPD'].apply(lambda x: x if x > 0 else 0)
ins['DBD'] = ins['DBD'].apply(lambda x: x if x > 0 else 0)
# Features: Perform aggregations
aggregations = {
    'NUM_INSTALMENT_VERSION': ['nunique'],
    'DPD': ['max', 'mean', 'sum'],
    'DBD': ['max', 'mean', 'sum'],
    'PAYMENT_PERC': ['max', 'mean', 'sum', 'var'],
    'PAYMENT_DIFF': ['max', 'mean', 'sum', 'var'],
    'AMT_INSTALMENT': ['max', 'mean', 'sum'],
    'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
    'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']
}
for cat in cat_cols:
    aggregations[cat] = ['mean']
ins_agg = ins.groupby('SK_ID_CURR').agg(aggregations)
ins_agg.columns = pd.Index(['INSTAL_' + e[0] + "_" + e[1].upper() for e in ins_agg.columns.tolist()])
# Count installments accounts
ins_agg['INSTAL_COUNT'] = ins.groupby('SK_ID_CURR').size()
del ins

In [72]:
gc.collect()

0

In [73]:
print("Installments payments shape:", ins_agg.shape)
df = df.join(ins_agg, how='left', on='SK_ID_CURR')

Installments payments shape: (339587, 26)

In [75]:
del ins_agg
gc.collect()

15

In [76]:
print('Traing and test df shape:',df.shape)

Traing and test df shape: (356251, 657)

### 1.6 Preprocessing Credit card balance data

In [77]:
cc = pd.read_csv(path+'/credit_card_balance.csv', nrows = num_rows)
cc, cat_cols = one_hot_encoder(cc, nan_as_category= True)
# General aggregations
cc.drop(['SK_ID_PREV'], axis= 1, inplace = True)
cc_agg = cc.groupby('SK_ID_CURR').agg(['min', 'max', 'mean', 'sum', 'var'])
cc_agg.columns = pd.Index(['CC_' + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()])
# Count credit card lines
cc_agg['CC_COUNT'] = cc.groupby('SK_ID_CURR').size()

In [78]:
del cc 
gc.collect()

35

In [79]:
print("credit card balance shape:", cc_agg.shape)
df = df.join(cc_agg, how='left', on='SK_ID_CURR')

credit card balance shape: (103558, 141)

In [81]:
del cc_agg

In [82]:
print('Traing and test df shape:',df.shape)

Traing and test df shape: (356251, 798)

In [84]:
df.to_csv(path+'home_credit_processed.csv')